* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #888;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar ul {
  flex-direction: row;
  text-decoration: none;
}
